@import "shared";

body {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.row {
  margin-top: 15px;
}

.container {
  margin-top: 45px;
}

.vertical_align {
  padding-top: 15px;
}

#fond_template {
  width: 100vw;
}

.crop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#titre_page {
  font-size: 42px;
  color: #FFF;

  .nom { 
    margin: 0px;
    padding: 0px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 330px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} 
}

.nav_icon {
  width: 10%;
  margin-right: 15px;
  margin-left: 15px;
  display: inline;
}
//==============================================================================
// HEADER
//==============================================================================
#header {
  display: table;
  width: 100vw;
  height: 45px;
  background: @fond_menu_navigation_haut;
  
  .toggle_sidebar {
    width: 6vh;
    text-align: center;
    span {
      font-size: 30px;
      cursor: pointer;
      text-align: center;
      color: #fff;
    }
  }
  .logo {
    width: 7vh;
    text-align: center;
    img {
      height: 30px;
    }
  }
  .appliquer_modifications {
    float: right;
    height: 100%;
    margin-top: 5px;
    margin-right: 15px;
  }
  .colonne {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
}
//==============================================================================
// SIDEBAR
//==============================================================================
#sidebar {
  width: 10vw;
  height: 100vh;
  display: block;
  position: fixed;
  left: 0px;
  background: @fond_menu_navigation_gauche;
  transition: width @transition_time;
  ul {
    padding: 0px;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    li {
      width: 100%;
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      a {
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        color: #ddd;
      }
      a:hover {
        color: #fff;
        background-color: #d35400;
      }
    }
  }
  .glyphicon {
    float: left;
    height: 100%;
    font-size: 14px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    vertical-align: middle;
  }
  #deconnexion {
    position: absolute;
    top: 80vh;
    width: 100%;
    height: 20vh;
  }
}
//==============================================================================
// CONTENU
//==============================================================================
#content {
  box-shadow: 0px 0px 40px black;
  width: 100vw;
  min-height: 100vh;
  float: right;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  word-wrap: break-word;
  background: @fond_contenu;
  overflow-y: auto;
  transition: width @transition_time;
  h1 {
    display: inline-block;
    width: 65%;
    transition: width @transition_time;
  }
  .aide {
    display: inline-block;
    width: 35%;
    padding: 20px;
    text-align: right;
    vertical-align: top;
  }
}
#content.show_sidebar {
  width: 90vw;
  transition: width @transition_time;
  margin-right: -15px;
}

.disabled {
 pointer-events: all !important;
}

//==============================================================================
// LISTES
//==============================================================================

.panel .row {
  margin-top: 0px;
}
.panel-heading .form-control {
  display: inline-block;
}
.panel-group.custom {
  h2 {
    font-size: 18px;
    margin-top: 10px;
    a {
      text-decoration: none;
    }
  }
  .col-xs-12 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.panel-collapse > .list-group-item {
  background-color: #efefef;
}
@media only screen and (max-width: 1170px) {
  #content.show_sidebar {
    width: 70vw;
  }
  #sidebar {
    width: 20vw;
  }
}
@media only screen and (max-width: 970px) {
  #content.show_sidebar {
    width: 60vw;
  }
  #sidebar {
    width: 40vw;
  }
}
@media only screen and (max-width: 768px) {
  #content {
    left: 0;
    width: 100vw;
    transition: left @transition_time;
  }
  #content.show_sidebar {
    left: 100vw;
    width: 100vw;
    transition: left @transition_time;
  }
  #sidebar {
    width: 100vw;
    text-align: center;
    ul {
      font-size: 6vw;
      text-align: center;
    }
    a {
      width: 70%;
      text-align: left;
    }
    .glyphicon {
      font-size: 4vw;
      width: 30%;
      margin-right: 4vw;
      text-align: right;
    }
  }
}

.btn-primary {
  background-color: @orange;
  border: 1px solid @orange;
  &:hover {
    background-color: darken(@orange, 10%);
    border: 1px solid darken(@orange, 10%);
  }
}
.btn-secondary {
  width: 100%;
  color: #fff;
  background-color: @gris_pale;
  border: 1px solid @gris_pale;
  &:hover {
    color: #fff;
    background-color: darken(@gris_pale, 5%);
    border: 1px solid darken(@gris_pale, 5%);
  }
}

// a {
//   color: #666;
//   &:hover {
//     color: darken(#666, 10%);
//   }
//   // &:active {
//   //   color: darken(@orange, 10%);
//   // }
//   // &:visited {
//   //   color: darken(@orange, 10%);
//   // }
// }
