@import "shared";

body {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}
.container-fluid {
  margin: 0px;
  padding: 0px;
}

.vertical_align {
  padding-top: 15px;
}

#fond_template {
  width: 100vw;
}

.crop {
  background: url('/src/test.jpg');
  background-size: 100vw;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  >* {
    margin-left: 25px;
    position: relative;
    bottom: -55%;
  }
}

#titre_page {
  width: 65%;
  font-size: 36px;
  color: #FFF;
  .nom { 
      margin: 0px;
      padding: 0px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; 
      max-width: 35%;
      height: 100%;
      vertical-align: middle;
      text-align: center;
  } 
}

.nav_icon {
  width: 20px;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
  img {
    height: 100%;
  }
}
//==============================================================================
// HEADER
//==============================================================================
#header {
  display: table;
  width: 100vw;
  height: 45px;
  background: @fond_menu_navigation_haut;
  
  .toggle_sidebar {
    width: 6vh;
    text-align: center;
    span {
      font-size: 30px;
      cursor: pointer;
      text-align: center;
      color: #fff;
    }
  }
  .logo {
    width: 7vh;
    text-align: center;
    img {
      height: 30px;
    }
  }
  .appliquer_modifications {
    float: right;
    height: 100%;
    margin-top: 5px;
    margin-right: 25px;
  }
  .colonne {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
}
//==============================================================================
// SIDEBAR
//==============================================================================
#sidebar {
  width: 10vw;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  background: @fond_menu_navigation_gauche;
  transition: width @transition_time;
  ul {
    padding: 0px;
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      width: 100%;
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      a {
        display: inline-block;
        width: 100%;
        padding: 10px;
        text-decoration: none;
        color: #ddd;
      }
      a:hover {
        color: #fff;
        background-color: #d35400;
      }
    }
  }
  .glyphicon {
    float: left;
    height: 100%;
    font-size: 14px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    vertical-align: middle;
  }
  #deconnexion {
    position: absolute;
    top: 80vh;
    width: 100%;
    height: 20vh;
  }
}
//==============================================================================
// CONTENU
//==============================================================================
#content {
  box-shadow: 0px 0px 40px black;
  width: 100vw;
  float: right;
  min-height: 100vh;
  position: relative;
  word-wrap: break-word;
  background: @fond_contenu;
  overflow-y: scroll;
  height: 100%;

  transition: width @transition_time;
  h1 {
    display: inline-block;
    transition: width @transition_time;
  }
  .aide {
    display: inline-block;
    width: 35%;
    padding: 20px;
    text-align: right;
    vertical-align: top;
  }
}
#content.show_sidebar {
  width: 90vw;
  transition: width @transition_time;
}

.disabled {
 pointer-events: all !important;
}

//==============================================================================
// LISTES
//==============================================================================

.panel .row {
  margin: 0px;
  padding: 0px;
}
.panel-heading {
  padding-left: 0px;
  padding-right: 0px;
  
}
.panel-heading .form-control {
  display: inline-block;

}
.panel-group.custom {
  h2 {
    font-size: 18px;
    margin-top: 10px;
    a {
      text-decoration: none;
    }
  }
  .col-xs-12 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.panel-collapse > .list-group-item {
  background-color: #efefef;
}

@media only screen and (max-width: 1366px) {
  #content {
    width: 100vw;
    transition: width @transition_time;
  }
  #content.show_sidebar {
    width: 85vw;
    transition: width @transition_time;
  }
  #sidebar {
    width: 15vw;
  }
}

@media only screen and (max-width: 1280px) {
  #content {
    width: 100vw;
    transition: width @transition_time;
  }
  #content.show_sidebar {
    width: 85vw;
    transition: width @transition_time;
  }
  #sidebar {
    width: 15vw;
  }
}

@media only screen and (max-width: 1170px) {
  #content {
    width: 100vw;
    transition: width @transition_time;
  }
  #content.show_sidebar {
    width: 85vw;
    transition: width @transition_time;
  }
  #sidebar {
    width: 15vw;
    ul {
      font-size: 20px;
      text-align: center;
    }
    a {
      width: 70%;
      text-align: left;
    }
    .nav_icon {
      width: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  #content {
    width: 100vw;
    transition: width @transition_time;
  }
  #content.show_sidebar {
    width: 80vw;
    transition: width @transition_time;
  }  
  #sidebar {
    width: 20vw;
  }
  .crop {
    height: 200px;
    >* {
      bottom: -45%;
    }
  }
}

@media only screen and (max-width: 970px) {
  #titre_page {
    font-size: 26px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .crop {
    >* {
      bottom: -35%;
    }
  }
  #content {
    left: 100vw;
    width: 100vw;
    transition: left @transition_time;
  }
  #content.show_sidebar {
    left: 0vw;
    width: 100vw;
    transition: left @transition_time;
  }
  #sidebar {
    width: 100vw;
    text-align: center;
    ul {
      font-size: 50px;
    }
    a {
      width: 70%;
      text-align: center;
    }
    .glyphicon {
      font-size: 4vw;
      width: 30%;
      margin-right: 4vw;
      text-align: center;
    }
    .nav_icon {
      width: 50px;
    }
  }
  #titre_page {
    font-size: 26px;
    width: 100%;
  }

}
@media only screen and (max-width: 598px) {

  .crop {
    >* {
      bottom: -45%;
    }
  }


  #content {
    left: 100vw;
    width: 100vw;
    transition: left @transition_time;
  }
  #content.show_sidebar {
    left: 0vw;
    width: 100vw;
    transition: left @transition_time;
  }
  #sidebar {
    width: 100vw;
    text-align: center;
    ul {
      font-size: 20px;
    }
    a {
      width: 70%;
    }
    .glyphicon {
      font-size: 4vw;
      width: 30%;
      margin-right: 4vw;
      text-align: right;
    }
    .nav_icon {
      width: 20px;
    }
  }
  #titre_page {
    font-size: 26px;
    width: 100%;
  }

}