table {

	width: 100%;

	th {
		background-color: #f5f5f5;
	}

	td {
		text-align: center;
	}

	.form-group {
		margin-top: 5px;
		margin-bottom: 5px;
	}
		
	.form-control {
		width: 70%;
		margin:auto;
	}


}