@import "shared";

* {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

#sidebar {
    z-index: 998;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background: rgba(0, 0, 0, 0.8);
    border-right: 1px solid white;
    transition: left 0.4s;
    overflow-y: auto;
    &.show_sidebar {
        left: -300px;
        transition: left 0.4s;
    }
    .sidebar_row {
        margin: 5px 5px; 
 
    }
    .sidebar_label {
        font-size: 15px;
        color: white;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-size: 25px;
        color: #fff;
    }

    h2 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #9A9A9A;
    }

    hr {
        width: 85%;
        margin: 15px auto;
    }

    input[type="number"] {
        width: 60px;
    }

    .input-sm {
        height: 22px;
        padding: 0px 5px;
    }

    .badge_button a {
        float: none!important;
    } 

    .custom_button_gris {
        bottom: 5px;
    }

    #position label {
        width: 90px;
    }

    #dimensions label {
        width: 75px;
    }
}

span {
    color: white;
}
.toggle_sidebar {
    position: absolute;
    top: 0px;
    margin: 10px;
    font-size: 24px;
}
.option_left {
    left: 0px;
    cursor: pointer;
}
.option_right {
    right: 0px;
    cursor: pointer;
}
.delete_zone {
    padding: 10px 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 5px;
    &:hover {
        background: rgba(255, 0, 0, 0.9);
    }
}

.colorpicker {
    z-index: 999;
}

.zone_focus {
    box-shadow: 10px 10px 5px rgba(0, 255, 0, 0.8);
}



