select.form-control {
    float: right;
    width: 70%;
    display: inline-block;
}

#nom_de_zone_input {
    float: right;
    width: 70%;
    display: inline-block;
}

#image_preview {
    padding-top: 50px;
}

.btn-primary .nav_icon {
	width: 12px;
	margin: 0px 0px 0px 5px;
}