#sidebar {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    border-right: 1px solid white;
    .sidebar_row {
        margin: 25px;   
    }
    .sidebar_label {
        font-size: 22px;
        color: white;
        text-decoration: underline;
    }
}

