
@blanc: #FFF;
@orange: #D35400;
@gris_fonce: #202020;
@gris_pale: #484848;

@fond_contenu: @blanc;
@fond_menu_navigation_gauche: @gris_fonce;
@fond_menu_navigation_haut: rgba(0, 0, 0, 0.6);

@font_size_xs: 8px;
@font_size_sm: 12px;
@font_size_md: 14px;
@font_size_lg: 18px;

@transition_time: 0.4s;

.badge_button a {
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    float: right;
    min-width: 10px;
    margin-right: 5px;
    padding: 5px 9px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    background-color: #444;
}

.custom_button {
    outline: none !important;
    border: solid 1px #dcdcdc !important;
    border-radius: 0px !important;
    transition: box-shadow 0.3s, border 0.3s;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #444444;
  border-bottom: 2px solid #383838;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #383838;
  box-shadow: inset 0 -2px #383838;
  transition: top 0.2s;
  top: 0px;
  &:hover {
    transition: top 0.2s;
    top: 1px;
  }
  &:active {
    transition: top 0.2s;
    top: 2px;
  }
}

.custom_button_orange {
  .custom_button;
  background: #d35400;
  border-bottom: 2px solid #c54e00;
  -webkit-box-shadow: inset 0 -2px #c54e00;
  box-shadow: inset 0 -2px #c54e00;
  top: 0px;
  &:hover {
    border-bottom: 1px solid #c54e00;
  }
  &:active {
    border-bottom: 0px solid #c54e00;
  }
}

.custom_button_gris {
  .custom_button;
  background: #444444;
  border-bottom: 2px solid #383838;
  -webkit-box-shadow: inset 0 -2px #383838;
  box-shadow: inset 0 -2px #383838;
  &:hover {
    border-bottom: 1px solid #383838;
  }
  &:active {
    border-bottom: 0px solid #383838;
  }
}

