<!DOCTYPE html>

<!-- HTML BASE DOCUMENT -->

<HTML>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Hege Refsnes">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("input").click(function(){
          $("#content").toggleClass("visible");
      });
    });
        
  </script>

  <link rel="stylesheet" type="text/css" href="/src/accueil.css">

  <BODY>
      <div id="sidebar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Project</a></li>
          <li><a href="#">Other</a></li>
          <li><a href="#">Other</a></li>
          <li><a href="#">Other</a></li>
        </ul>
         
      </div>

      <div id="content">
        <input id="showSidebar" type="button" value="≡">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec pharetra velit. Aenean sit amet elit sodales, scelerisque ipsum non, malesuada lacus. Integer vel sollicitudin arcu. In accumsan venenatis ipsum, at hendrerit sapien scelerisque nec. Quisque ac metus risus. Donec auctor eros nisl, nec facilisis justo consectetur in. Praesent aliquam tempus risus, ut accumsan odio facilisis laoreet. Quisque in vulputate nunc. Maecenas quis purus tortor. Proin quis commodo ex.

        Etiam nec vehicula nunc. Phasellus ac ex pretium, vehicula metus at, mollis diam. Praesent nunc velit, mollis sit amet dui a, commodo rutrum arcu. Vestibulum eu vehicula arcu, ac aliquet justo. Fusce sit amet arcu scelerisque, sollicitudin ante eget, auctor quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam ac vehicula dui. Fusce viverra ornare diam a pellentesque. Donec ut porttitor eros, eu rhoncus nibh. Morbi posuere augue tellus, et lobortis est sagittis in. Proin dignissim dui a ipsum elementum sodales.

        Nam lacinia varius augue et dignissim. Donec egestas elit sapien, efficitur semper lacus tempor feugiat. Cras at cursus tortor. Praesent quis feugiat nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in tortor massa. Suspendisse volutpat magna sit amet sem pharetra lacinia. Cras nec tortor maximus, faucibus erat et, condimentum velit. In nisi nisl, rutrum sed felis vitae, facilisis pulvinar ex. Proin sed condimentum mi.

        Nam dictum pulvinar eleifend. Curabitur imperdiet sapien sit amet nulla facilisis vestibulum. Pellentesque eleifend mi odio, eu fermentum orci pellentesque ac. Praesent dolor augue, cursus et malesuada et, gravida non nulla. Aenean vel lacus ultrices, eleifend arcu id, accumsan velit. Phasellus eu erat pulvinar, sodales est eu, semper ipsum. Sed tincidunt, sem sit amet faucibus egestas, diam nibh porttitor est, vel aliquet quam tortor et ex. Vivamus nulla leo, euismod ac auctor interdum, finibus sed lectus. Donec vel ex eget ex varius fringilla. Mauris a libero libero. Nulla et ultrices dui. Sed cursus lorem vel commodo lobortis. Morbi sem nisi, gravida pharetra tempor ut, tempus eget odio. Vivamus tempor sapien sapien, a finibus dui blandit eget.

        Aliquam erat volutpat. Nam scelerisque malesuada nunc, in rutrum dui ullamcorper malesuada. Phasellus consectetur sem in volutpat scelerisque. Aliquam cursus tortor et dui rutrum, in ornare ante rhoncus. Nulla id mi vel massa pulvinar tristique. Pellentesque aliquet accumsan risus in feugiat. Sed venenatis rhoncus dapibus. Donec a tempus purus. In quis pretium nibh, et iaculis ipsum. Nullam condimentum ipsum ut odio tempor egestas. Donec eu quam lacus. Aliquam vulputate at nulla at aliquet.
        <div id="test">
          BONJOUR
        </div>
      </div>
  </BODY>
</HTML>
