
<!DOCTYPE html>

<!-- HTML BASE DOCUMENT -->

<HTML lang="fr">
    <HEAD>
        <meta charset="utf-8">
        <title>{{!titre}}</title>
        <meta name="decription" content="Ceci est le 'template' web pour un menu de restaurant.">
        <meta name="auteur" content="Daniel-Junior Dubé et Sarah Laflamme">
        <link rel="shortcut icon" href="/src/tab.ico">
        <link rel="stylesheet" href="/src/affichage.css">
        <link rel="stylesheet" href="/src/modifier_fenetre.css">
        <script type='text/javascript' src='/src/interact-1.2.5.min.js'></script>
        <script type='text/javascript' src='/src/interactApp.js'></script>
        <script type='text/javascript' src='/src/jquery-2.1.4.min.js'></script>
        <link rel="stylesheet" type="text/css" href="/src/bootstrap.min.css">
        <script type='text/javascript' src='/src/knockout-3.3.0.js'></script>
        <script type='text/javascript' src='/src/knockout.mapping-latest.js'></script>
    </HEAD>
        <BODY data-bind="attr: { 'background': choose_background }">
            <div class="interact-container" data-bind="foreach: { data: fenetre.zones, as: 'zone' }">
                <!-- ko if: zone.type() === "ZoneBase" -->
                <div class="zone base" data-bind="style: { 
                    'left' : $data.position_x() + '%', 
                    'top' : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur() + '%'
                }">
                    <!-- ko if: zone.type_style() === "titre" -->
                    <div data-bind="text: contenu, style: {
                        fontFamily : $root.fenetre.theme.titre.police(),
                        fontSize : $root.fenetre.theme.titre.taille() + 'px',
                        color : $root.fenetre.theme.titre.couleur(),
                        bold : $root.fenetre.theme.titre.gras(),
                        fontStyle : $root.fenetre.theme.titre.italique(),
                        textDecoration : $root.fenetre.theme.titre.soulignement()
                    }"></div>
                    <!-- /ko -->
                    <!-- ko if: zone.type_style() === "sous_titre" -->
                    <div data-bind="text: contenu, style: {
                        fontFamily : $root.fenetre.theme.sous_titre.police(),
                        fontSize : $root.fenetre.theme.sous_titre.taille() + 'px',
                        color : $root.fenetre.theme.sous_titre.couleur(),
                        bold : $root.fenetre.theme.sous_titre.gras(),
                        fontStyle : $root.fenetre.theme.sous_titre.italique(),
                        textDecoration : $root.fenetre.theme.sous_titre.soulignement()
                    }"></div>
                    <!-- /ko -->
                    <!-- ko if: zone.type_style() === "texte" -->
                    <div data-bind="text: contenu, style: {
                        fontFamily : $root.fenetre.theme.texte.police(),
                        fontSize : $root.fenetre.theme.texte.taille() + 'px',
                        color : $root.fenetre.theme.texte.couleur(),
                        bold : $root.fenetre.theme.texte.gras(),
                        fontStyle : $root.fenetre.theme.texte.italique(),
                        textDecoration : $root.fenetre.theme.texte.soulignement()
                    }"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- ko if: zone.type() === "ZoneImage" -->
                <div class="zone media" data-bind="style: { 
                    left : $data.position_x() + '%', 
                    top : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur() + '%'
                }">
                    <img data-bind="attr: { 'src': '../src/'+$data.image.chemin_fichier() }">
                </div>
                <!-- /ko -->
                <!-- ko if: zone.type() === "ZoneVideo" -->
                <div class="zone media" data-bind="style: { 
                    left : $data.position_x() + '%', 
                    top : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur()  + '%'
                }">
                    <video width="100%" height="100%" muted autoplay loop>
                        <source data-bind="attr: { 
                            'src': '../src/' + $data.video.chemin_fichier() 
                        }" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- /ko -->
                <!-- ko if: zone.type() === "ZoneTable" -->
                <div class="zone" data-bind="style: { 
                    left : $data.position_x() + '%', 
                    top : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur() + '%' 
                }">
                    <table data-bind="style : {
                        background : $root.fenetre.theme.tableau.couleur_fond(),
                        borderColor :  $root.fenetre.theme.tableau.bordure.couleur(),
                        borderStyle : $root.fenetre.theme.tableau.bordure.style(),
                        borderWidth : $root.fenetre.theme.tableau.bordure.taille() + 'px'
                        }">
                        <tbody data-bind="foreach: { data: $data.lignes, as: 'ligne' }">
                            <tr data-bind="foreach: { data: $data.cellules, as: 'cellule' }, style : {
                                borderColor :  $root.fenetre.theme.tableau_ligne.bordure.couleur(),
                                borderStyle : $root.fenetre.theme.tableau_ligne.bordure.style(),
                                borderWidth : $root.fenetre.theme.tableau_ligne.bordure.taille() + 'px'
                            }">
                                <!-- Définir le style selon les attributs json -->
                                <!-- ko if: cellule.type_style() === "tableau_titre" -->
                                <th data-bind="text: $data.contenu, style: { 
                                    fontFamily : $root.fenetre.theme.tableau_titre.police(),
                                    fontSize : $root.fenetre.theme.tableau_titre.taille() + 'px',
                                    color : $root.fenetre.theme.tableau_titre.couleur(),
                                    bold : $root.fenetre.theme.tableau_titre.gras(),
                                    fontStyle : $root.fenetre.theme.tableau_titre.italique(),
                                    textDecoration : $root.fenetre.theme.tableau_titre.soulignement()
                                }"></th> 
                                <!-- /ko -->
                                <!-- ko if: cellule.type_style() === "tableau_sous_titre" -->
                                    <th data-bind="text: $data.contenu, style: { 
                                        fontFamily : $root.fenetre.theme.tableau_sous_titre.police(),
                                        fontSize : $root.fenetre.theme.tableau_sous_titre.taille() + 'px',
                                        color : $root.fenetre.theme.tableau_sous_titre.couleur(),
                                        bold : $root.fenetre.theme.tableau_sous_titre.gras(),
                                        fontStyle : $root.fenetre.theme.tableau_sous_titre.italique(),
                                        textDecoration : $root.fenetre.theme.tableau_sous_titre.soulignement()
                                    }"></th> 
                                <!-- /ko -->
                                <!-- ko if: cellule.type_style() === "tableau_texte" -->
                                <td data-bind="text: $data.contenu, style: { 
                                    fontFamily : $root.fenetre.theme.tableau_texte.police(),
                                    fontSize : $root.fenetre.theme.tableau_texte.taille() + 'px',
                                    color : $root.fenetre.theme.tableau_texte.couleur(),
                                    bold : $root.fenetre.theme.tableau_texte.gras(),
                                    fontStyle : $root.fenetre.theme.tableau_texte.italique(),
                                    textDecoration : $root.fenetre.theme.tableau_texte.soulignement()
                                }"></td> 
                                <!-- /ko -->
  
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /ko -->
            </div>
    </BODY>
</html>

<script type='text/javascript' defer="defer">
    var viewModel = ko.mapping.fromJS({{!data}});
    viewModel.zone_focus = ko.observable();
    viewModel.id_zone_focus = ko.observable();
    if (viewModel.fenetre.zones().length != 0) {
        viewModel.index_zone_focus = ko.observable(0);
    }
    else {
        viewModel.index_zone_focus = ko.observable(-1);
    }
    viewModel.choose_background = ko.computed(function() {
        if (viewModel.fenetre.image_fond === 'undefined') {
            return viewModel.fenetre.couleur_fond();
        }
        else {
            return '../src/' + viewModel.fenetre.image_fond.chemin_fichier();
        }
    });
    $("body").on("mousedown", ".zone", function() {
        var zone = ko.dataFor(this);
        for (var index in viewModel.fenetre.zones()) {
            if (viewModel.fenetre.zones()[index].id() === zone.id()){
                viewModel.index_zone_focus(parseInt(index));
            }
        }
        viewModel.id_zone_focus(zone.id());
    });
    ko.applyBindings(viewModel);
        /**
     * Ajoute dynamiquement les polices reçues du serveur dans une balise «style».
     * NOTE : Ne supporte présentement que les fichiers de type 'ttf'.
     */
    for (i = 0; i < viewModel.polices().length; i++) { 
        $("head").prepend("<style type=\"text/css\">" + 
                                    "@font-face {\n" +
                                        "\tfont-family: \""+ viewModel.polices()[i] +"\";\n" + 
                                        "\tsrc: url('../src/" + viewModel.polices()[i] + ".ttf') format('truetype');\n" + 
                                    "}\n" + 
                                "</style>");
    }

</script>