.badge_button a {
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  float: right;
  min-width: 10px;
  margin-right: 5px;
  padding: 5px 9px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  background-color: #444;
}
.btn-primary {
  background-color: #D35400;
  border: 1px solid #D35400;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #a04000;
  border: 1px solid #a04000;
}
.btn-secondary {
  width: 100%;
  color: #fff;
  background-color: #484848;
  border: 1px solid #484848;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}
.container-fluid {
  margin: 0px;
  padding: 0px;
}
.vertical_align {
  padding-top: 15px;
}
#fond_template {
  width: 100vw;
}
.crop {
  background: url('/src/test.jpg');
  background-size: 100vw;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.crop > * {
  margin-left: 25px;
  position: relative;
  bottom: -55%;
}
#titre_page {
  width: 65%;
  font-size: 36px;
  color: #FFF;
}
#titre_page .nom {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 35%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.nav_icon {
  width: 20px;
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
}
.nav_icon img {
  height: 100%;
}
#header {
  display: table;
  width: 100vw;
  height: 45px;
  background: rgba(0, 0, 0, 0.6);
}
#header .toggle_sidebar {
  width: 6vh;
  text-align: center;
}
#header .toggle_sidebar span {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
#header .logo {
  width: 7vh;
  text-align: center;
}
#header .logo img {
  height: 30px;
}
#header .appliquer_modifications {
  float: right;
  height: 100%;
  margin-top: 5px;
  margin-right: 25px;
}
#header .colonne {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
#sidebar {
  width: 10vw;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  background: #202020;
  transition: width 0.4s;
}
#sidebar ul {
  padding: 0px;
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
#sidebar ul li {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  display: inline-block;
}
#sidebar ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #ddd;
}
#sidebar ul li a:hover {
  color: #fff;
  background-color: #d35400;
}
#sidebar .glyphicon {
  float: left;
  height: 100%;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
  display: inline-block;
  vertical-align: middle;
}
#sidebar #deconnexion {
  position: absolute;
  top: 80vh;
  width: 100%;
  height: 20vh;
}
#content {
  box-shadow: 0px 0px 40px black;
  width: 100vw;
  float: right;
  min-height: 100vh;
  position: relative;
  word-wrap: break-word;
  background: #FFF;
  overflow-y: scroll;
  height: 100%;
  transition: width 0.4s;
}
#content h1 {
  display: inline-block;
  transition: width 0.4s;
}
#content .aide {
  display: inline-block;
  width: 35%;
  padding: 20px;
  text-align: right;
  vertical-align: top;
}
#content.show_sidebar {
  width: 90vw;
  transition: width 0.4s;
}
.disabled {
  pointer-events: all !important;
}
.panel .row {
  margin: 0px;
  padding: 0px;
}
.panel-heading {
  padding-left: 0px;
  padding-right: 0px;
}
.panel-heading .form-control {
  display: inline-block;
}
.panel-group.custom h2 {
  font-size: 18px;
  margin-top: 10px;
}
.panel-group.custom h2 a {
  text-decoration: none;
}
.panel-group.custom .col-xs-12 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel-collapse > .list-group-item {
  background-color: #efefef;
}
@media only screen and (max-width: 1366px) {
  #content {
    width: 100vw;
    transition: width 0.4s;
  }
  #content.show_sidebar {
    width: 85vw;
    transition: width 0.4s;
  }
  #sidebar {
    width: 15vw;
  }
}
@media only screen and (max-width: 1280px) {
  #content {
    width: 100vw;
    transition: width 0.4s;
  }
  #content.show_sidebar {
    width: 85vw;
    transition: width 0.4s;
  }
  #sidebar {
    width: 15vw;
  }
}
@media only screen and (max-width: 1170px) {
  #content {
    width: 100vw;
    transition: width 0.4s;
  }
  #content.show_sidebar {
    width: 85vw;
    transition: width 0.4s;
  }
  #sidebar {
    width: 15vw;
  }
  #sidebar ul {
    font-size: 20px;
    text-align: center;
  }
  #sidebar a {
    width: 70%;
    text-align: left;
  }
  #sidebar .nav_icon {
    width: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  #content {
    width: 100vw;
    transition: width 0.4s;
  }
  #content.show_sidebar {
    width: 80vw;
    transition: width 0.4s;
  }
  #sidebar {
    width: 20vw;
  }
  .crop {
    height: 200px;
  }
  .crop > * {
    bottom: -45%;
  }
}
@media only screen and (max-width: 970px) {
  #titre_page {
    font-size: 26px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .crop > * {
    bottom: -35%;
  }
  #content {
    left: 100vw;
    width: 100vw;
    transition: left 0.4s;
  }
  #content.show_sidebar {
    left: 0vw;
    width: 100vw;
    transition: left 0.4s;
  }
  #sidebar {
    width: 100vw;
    text-align: center;
  }
  #sidebar ul {
    font-size: 50px;
  }
  #sidebar a {
    width: 70%;
    text-align: center;
  }
  #sidebar .glyphicon {
    font-size: 4vw;
    width: 30%;
    margin-right: 4vw;
    text-align: center;
  }
  #sidebar .nav_icon {
    width: 50px;
  }
  #titre_page {
    font-size: 26px;
    width: 100%;
  }
}
@media only screen and (max-width: 598px) {
  .crop > * {
    bottom: -45%;
  }
  #content {
    left: 100vw;
    width: 100vw;
    transition: left 0.4s;
  }
  #content.show_sidebar {
    left: 0vw;
    width: 100vw;
    transition: left 0.4s;
  }
  #sidebar {
    width: 100vw;
    text-align: center;
  }
  #sidebar ul {
    font-size: 20px;
  }
  #sidebar a {
    width: 70%;
  }
  #sidebar .glyphicon {
    font-size: 4vw;
    width: 30%;
    margin-right: 4vw;
    text-align: right;
  }
  #sidebar .nav_icon {
    width: 20px;
  }
  #titre_page {
    font-size: 26px;
    width: 100%;
  }
}
