body {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
#header {
  display: table;
  width: 100vw;
  height: 50px;
  background: #2F2F2F;
}
#header .toggle_sidebar {
  width: 6vh;
  text-align: center;
}
#header .toggle_sidebar span {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
#header .logo {
  width: 7vh;
  text-align: center;
}
#header .logo img {
  height: 30px;
}
#header .appliquer_modifications {
  float: right;
  height: 100%;
  margin-top: 5px;
  margin-right: 15px;
}
#header .colonne {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
#sidebar {
  width: 10vw;
  height: 100vh;
  display: block;
  position: fixed;
  left: 0px;
  background: #2F2F2F;
  transition: width 0.2s;
}
#sidebar ul {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}
#sidebar ul li {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  display: inline-block;
}
#sidebar ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #ddd;
}
#sidebar ul li a:hover {
  color: #fff;
  background-color: #d35400;
}
#sidebar .glyphicon {
  float: left;
  height: 100%;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
  display: inline-block;
  vertical-align: middle;
}
#sidebar #deconnexion {
  position: absolute;
  top: 80vh;
  width: 100%;
  height: 20vh;
}
#content {
  width: 100vw;
  height: 100vh;
  float: right;
  position: relative;
  margin-top: 50px;
  word-wrap: break-word;
  background: #FFF;
  overflow-y: auto;
  transition: width 0.3s;
}
#content h1 {
  width: 60%;
  transition: width 0.2s;
}
#content .entete {
  padding: 10px 25px;
}
#content .aide {
  display: inline-block;
  width: 35%;
  padding: 20px;
  text-align: right;
  vertical-align: top;
}
#content .entete {
  padding: 10px 25px;
}
#content.show_sidebar {
  width: 90vw;
  transition: width 0.3s;
}
.disabled {
  pointer-events: all !important;
}
.panel-group {
  padding: 0 25px;
}
.panel-group .panel {
  margin: 20px 0;
}
.panel-heading .form-control {
  display: inline-block;
  width: 75%;
}
#fenetres h2 {
  font-size: 18px;
  margin-top: 10px;
}
#fenetres h2 a {
  text-decoration: none;
}
#fenetres .col-xs-12 {
  padding-top: 5px;
  padding-bottom: 5px;
}
#fenetres .list-group-item a,
#fenetres .boutons a {
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  float: right;
  min-width: 10px;
  margin-right: 5px;
  padding: 5px 9px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  background-color: #444;
}
.panel-collapse > .list-group-item {
  background-color: #efefef;
}
@media only screen and (max-width: 1170px) {
  #content.show_sidebar {
    width: 70vw;
  }
  #sidebar {
    width: 20vw;
  }
}
@media only screen and (max-width: 970px) {
  #content.show_sidebar {
    width: 60vw;
  }
  #sidebar {
    width: 40vw;
  }
}
@media only screen and (max-width: 768px) {
  #content {
    left: 0;
    width: 100vw;
    transition: left .2s;
  }
  #content.show_sidebar {
    left: 100vw;
    width: 100vw;
    transition: left .2s;
  }
  #sidebar {
    width: 100vw;
    text-align: center;
  }
  #sidebar ul {
    font-size: 6vw;
    text-align: center;
  }
  #sidebar a {
    width: 70%;
    text-align: left;
  }
  #sidebar .glyphicon {
    font-size: 4vw;
    width: 30%;
    margin-right: 4vw;
    text-align: right;
  }
  #sidebar .navigation_element_detail {
    visibility: visible;
  }
}
