/*Structure : 
    - PROPORTIONS
        margin
        padding
        width
        height
    - POSITIONS
        position
        left
        right
        top
        down
    - COLORS
        color
        background-color
    - BORDERS
        border
        border-color
    - DISPLAY/GLOBAL
        display
        overflow
    - TEXT 
        font-family*/

* {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

html {
    overflow-y: scroll;
}

body {
    width:100%;
    position: absolute;
    left: 0px;
    top: 0%;
    overflow: hidden;
}

.btn-primary {
    color : #fff;
    background-color: #929292;
    border-color: #555;
}

.btn-primary:hover {
    background-color: #757575;
    border-color: #555;
}

/* HEADER */

#header {
    margin:0;
    padding:0;
    left: 0;
    top: 0;
    width: 100vw;
    height:50px;
    background: #2F2F2F;
    display: table;
    table-layout: fixed;
}

#header .toggle_sidebar {
    width: 6vh;
    text-align: center;
}

#header .toggle_sidebar span {
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

#header .logo {
    width: 7vh;
    text-align: center;
}

#header .logo img {
    height: 30px;
}

#header .appliquer_modifications {
    text-align: right;
    padding-right: 50px;
}

#header .colonne {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

/* SIDEBAR */

#sidebar {
    margin: 0px;
    padding: 0px;
    width: 0vw;
    display: block;
    position: fixed;
    left: 0px;
    top: 45px;
    float: left;
    height: 100vh;
    font-size: 16px;
    background: #444444;
    transition: width 0.2s;
    overflow: hidden;  
}

#sidebar.show_sidebar {
    width: 14vw;
    transition: width 0.2s;
}

#sidebar.show_sidebar .navigation_element_detail {
    overflow: hidden;
    width: auto;
    visibility: visible;
}

.navigation_element_detail {
    width: 0%;
    visibility: hidden;
    margin-left: 30px;
}


#sidebar ul {
    margin: 0px;
    padding: 0px;
    height: 80vh;
    text-align: left;
}

#sidebar ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width:80%;
    margin-top: 10px; 
}

#sidebar ul li a {
    display: block;
    width: 100%;
    padding: 10px;
    color:#ccc;
    text-decoration: none;
    overflow: hidden;
}

#sidebar ul li a:hover {
    background-color: #333;
    color: #ff8000;
/*    text-shadow: 0 0 5px #FFF;*/
}

#sidebar span {
    float: left;
    margin-right: 50px;
}

#sidebar .glyphicon {
    margin-right: 10px;
    font-size: 14px;
}

#sidebar #deconnexion {
    width: 100%;
    height: 20vh;
}

#sidebar #deconnexion .bouton_deconnexion {

}

.container {
    width: 100%;
    margin: auto;
}



/* CONTENU */

#content {
    margin: 0px;
    margin-top: 50px;
    padding: 0px;
    width: 100vw;
    min-height: 100vh;  
    right: 0px;
    position: relative;
    word-wrap: break-word;
    background: #fff;
    /*overflow-y: scroll;*/
}

#content .entete {
    padding: 10px 25px;
}

#content h1 {
    display: inline-block;
    width: 60%;
}

#content .aide {
    display: inline-block;
    width: 35%;
    text-align: right;
    vertical-align: top;
    padding: 20px;
}

/* LISTES */
.panel-group {
    height: 72vh;
    overflow-y: scroll;
    padding: 0px 25px;
    -webkit-overflow-scrolling: touch;
}
.panel-group .panel {
    margin: 20px 0px;
}

.panel-default>.panel-heading {
    background-color: 
}

.panel-title {

}

.badge {
    border-radius: 6px;
    padding: 5px 9px;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}
.panel-collapse ul li:last-child {
    background-color: #EFEFEF;
}

@media only screen and (max-width: 992px){
    .navigation_element_detail {
        visibility: visible;
    }
    #sidebar {
        width: 20vw;
        padding: 0;
    }
    #sidebar.show_sidebar {
        width: 80vw;
        transition: width 0.2s;
    }
    #sidebar .glyphicon {
        margin: 0;
        padding: 0;
        margin-right: 0px;

    }
}
@media only screen and (max-width: 768px){
    .navigation_element_detail {
        visibility: visible;
    }
    #sidebar {
        width: 0vw;
        font-size: 5vw;
        text-align: center;
    }
    #sidebar.show_sidebar {
        width: 100vw;
        transition: width 0.2s;
    }
    #sidebar ul {
        font-size: 6vw;
        text-align: center;
    }
    #sidebar a {
        width:70%;
        text-align: left;
    }
    #sidebar .glyphicon {
        width:30%;
        margin-right: 4vw;
        font-size: 4vw;
        text-align: right;
    }
}


