.badge_button a {
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  float: right;
  min-width: 10px;
  margin-right: 5px;
  padding: 5px 9px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  background-color: #444;
}
.custom_button {
  outline: none !important;
  border: solid 1px #dcdcdc !important;
  border-radius: 0px !important;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #444444;
  border-bottom: 2px solid #383838;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #383838;
  box-shadow: inset 0 -2px #383838;
  transition: top 0.2s;
  top: 0px;
}
.custom_button:hover {
  transition: top 0.2s;
  top: 1px;
}
.custom_button:active {
  transition: top 0.2s;
  top: 2px;
}
.custom_button_orange {
  outline: none !important;
  border: solid 1px #dcdcdc !important;
  border-radius: 0px !important;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #444444;
  border-bottom: 2px solid #383838;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #383838;
  box-shadow: inset 0 -2px #383838;
  transition: top 0.2s;
  background: #d35400;
  border-bottom: 2px solid #c54e00;
  -webkit-box-shadow: inset 0 -2px #c54e00;
  box-shadow: inset 0 -2px #c54e00;
  top: 0px;
}
.custom_button_orange:hover {
  transition: top 0.2s;
  top: 1px;
}
.custom_button_orange:active {
  transition: top 0.2s;
  top: 2px;
}
.custom_button_orange:hover {
  border-bottom: 1px solid #c54e00;
}
.custom_button_orange:active {
  border-bottom: 0px solid #c54e00;
}
.custom_button_gris {
  outline: none !important;
  border: solid 1px #dcdcdc !important;
  border-radius: 0px !important;
  transition: box-shadow 0.3s, border 0.3s;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: top 0.2s;
  top: 0px;
  background: #444444;
  border-bottom: 2px solid #383838;
  -webkit-box-shadow: inset 0 -2px #383838;
  box-shadow: inset 0 -2px #383838;
}
.custom_button_gris:hover {
  transition: top 0.2s;
  top: 1px;
}
.custom_button_gris:active {
  transition: top 0.2s;
  top: 2px;
}
.custom_button_gris:hover {
  border-bottom: 1px solid #383838;
}
.custom_button_gris:active {
  border-bottom: 0px solid #383838;
}
* {
  font-family: "Helvetica Neue", Helvetica, Arial;
}
#sidebar {
  z-index: 998;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: rgba(0, 0, 0, 0.8);
  border-right: 1px solid white;
  transition: left 0.4s;
  overflow-y: auto;
}
#sidebar.show_sidebar {
  left: -300px;
  transition: left 0.4s;
}
#sidebar .sidebar_row {
  margin: 5px 5px;
}
#sidebar .sidebar_label {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
#sidebar h1 {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#sidebar h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #9A9A9A;
}
#sidebar hr {
  width: 85%;
  margin: 15px auto;
}
#sidebar input[type="number"] {
  width: 60px;
}
#sidebar .input-sm {
  height: 22px;
  padding: 0px 5px;
}
#sidebar .input-group-addon {
  padding: 3px;
}
#sidebar .input-group-addon img {
  width: 12px;
}
#sidebar .badge_button a {
  float: none!important;
}
#sidebar .custom_button_gris {
  bottom: 5px;
}
#sidebar #position label {
  width: 90px;
}
#sidebar #dimensions label {
  width: 75px;
}
#sidebar .choix_couleur i {
  height: 12px;
  width: 12px;
  display: inline-block;
  cursor: pointer;
}
span {
  color: white;
}
.toggle_sidebar {
  position: absolute;
  top: 0px;
  margin: 10px;
  font-size: 24px;
}
.option_left {
  left: 0px;
  cursor: pointer;
}
.option_right {
  right: 0px;
  cursor: pointer;
}
.bouton_retirer_zone {
  padding: 10px 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
}
.bouton_retirer_zone:hover {
  background: rgba(255, 0, 0, 0.9);
}
.colorpicker {
  z-index: 999;
}
.zone_focus {
  box-shadow: 0px 0px 25px #00ff00;
}
.changer_zone {
  margin: 0px;
  padding: 0px;
  height: 25px;
  display: inline-block;
  overflow: hidden;
}
.changer_zone h1 {
  margin: 0px;
  padding: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  height: 100%;
}
.changer_zone a {
  cursor: pointer;
}
#texte_changer_zone {
  padding: 15px;
  overflow: hidden;
  display: block;
}
.table_changer_zone {
  text-overflow: ellipsis;
}
.b_changer_zone {
  border: 1px solid white;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
}
.b_changer_zone:hover {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
