table {
  width: 100%;
}
table th {
  background-color: #f5f5f5;
}
table td {
  text-align: center;
}
table .form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
table .form-control {
  width: 70%;
  margin: auto;
}
