.nom_theme {
  margin: 0px;
  padding: 0px;
  height: 25px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 330px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
