input.form-control {
  float: right;
  width: 70%;
  display: inline-block;
}
select.form-control {
  float: right;
  width: 70%;
  display: inline-block;
}
.btn-primary .nav_icon {
  width: 12px;
  margin: 0px 0px 0px 5px;
}
