table {
  width: 100%;
}
table th {
  background-color: #f5f5f5;
}
table td,
table th {
  text-align: center;
  min-width: 350px;
}
table .colonne_retirer {
  min-width: 50px;
}
table .row {
  margin-top: 5px !important;
}
.table-responsive {
  width: 100%;
  max-width: 100%;
}
a.ajouter_ligne {
  float: left;
}
textarea {
  width: 100%;
  resize: vertical;
}
