		html { 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-color: #000000;
			width: 100%;
			height: auto;
			height : 100%;
			padding : 0px;
			margin : 0px;
		}
		body {
			width: 100vw; 
    		height: 56.25vw;
			background-color: #eb6e26;
			background-size: 100% auto;
			overflow: hidden;
		}
		img {
			max-width:100%;
        	max-height:100%;
			padding: 5px;
			margin: 0 auto;
    		display: block;
		}
		video {
			display: block;
			max-width:100%;
        	max-height:100%;
		}
		#entete {
			padding: 0px;
			margin: 0px;
			width: 100vw;
			height: 8vw;
			font-family: 'KaushanScript', cursive;
		}
		.boite_flottante {
			/*border: 1px solid black;*/
			background: rgba(0, 0, 0, 0.8);
			position:absolute;
			display: inline-block;
			
			cursor: pointer;
			font-family: 'Oswald', sans-serif;
			color: #FFF;
		}
		.boite_flottante:hover {
			border: 1px solid white;
		}

		.boite_flottante table {
			box-shadow: 8px 8px 20px #000000;
			width: 100%;
			height:100%;
		}
		.boite_flottante table tr {
			border: 1px solid white;
			padding: 1vw;
		}
		.boite_flottante table tr th {
			color: #ff8f32;
			font-size: 2vw;
			padding-left: 1vw;
			padding-right: 1vw;
		}
		.boite_flottante table tr td {
			font-size: 1.5vw;
			padding-left: 1vw;
			padding-right: 1vw;
			padding-top: 0.2vw;
			padding-bottom: 0.2vw;
			font-style: italic;
		}
		.boite_flottante video {
			box-shadow: 8px 8px 20px #000000;
		}
		#titre {
			width: 100%;
			margin-top: 0.7vw;
			margin-left: 2vw;
			font-size: 4vw;
			color: #ff7400;
		}
		.interact-container{
			width: 100%;
			height : 100%;
			padding : 0px;
			margin : 0px;
			overflow:hidden;
		}
		#media{
		}
		#element_1 {
			width: 30%;
			top: 20%;
			left: 2%;
		}
		#element_2 {
			top: 20%;
			left: 37%;
		}
		#element_3 {
			top: 20%;
			left: 74%;
		}
		#element_4 {
			top: 72%;
			left: 45%;
		}		
		@font-face {
		  font-family: 'KaushanScript';
		  src: url('KaushanScript-Regular.ttf');
		}
		@font-face {
		  font-family: 'Oswald';
		  src: url('Oswald-Regular.ttf');
		}
		
