% rebase(path)
<div class="container-fluid">
    <div class="row">
        <div class="crop">
            <h1 id="titre_page">À propos</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h4>Version 1.0.0 (04/03/16)</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <label>Développeurs : </label>
            <ul>
                <li>Daniel-Junior Dubé</li>
                <li>Sarah Laflamme</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12">
            <label>Documentation : </label>
            <ul>
                <li>Guide d'utilisation</li>
                <li>autre...</li>
            </ul>
        </div>
    </div>
</div>
