<!DOCTYPE html>

<!-- HTML BASE DOCUMENT -->

<HTML>
  <HEAD>
    <title>Système de gestion d'affichage</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="auteurs" content="Daniel-Junior Dubé et Sarah Laflamme">

    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="/src/tab.ico">
    <script src="/src/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/src/base_gestion.css">

    <script src="/src/bootstrap.js"></script>
    <script type='text/javascript' src='/src/knockout-3.3.0.js'></script>
    <script type='text/javascript' src='/src/knockout.mapping-latest.js'></script>
    <script type='text/javascript' src='/src/knockstrap.min.js'></script>
    <script>
      var viewModel = ko.mapping.fromJS({{!data}});
    </script>
    <script type='text/javascript' src='/src/base_gestion_debut.js'></script>
  </HEAD>
  <BODY>
    <div id="header" class="navbar-fixed-top">
      <div class="logo colonne">
        <img alt="MBoutique Café" src="/src/logo_mboutique.png">
      </div>
      <div class="toggle_sidebar colonne">
        <span id="toggle_sidebar">»</span>
      </div>
      <div class="appliquer_modifications">
        <button type="button" class="btn btn-secondary" onclick="appliquer_modifications('{{!titre}}')">Appliquer les modifications</button>
      </div>
    </div>
    
    <div id="sidebar">
      <ul>
        <li>
          <a href="accueil" rel="external">
            <img class="nav_icon" align="left" src="/src/home.png" alt="">
            <div class="navigation_element_detail">Accueil</div>
          </a></li>
        <li>
          <a href="periodes" rel="external">
            <img class="nav_icon" align="left" src="/src/time.png" alt="">
            <div class="navigation_element_detail">Périodes</div>
          </a>
        </li>
        <li>
          <a href="lister_fenetres" rel="external">
            <img class="nav_icon" align="left" src="/src/computer.png" alt="">
            <div class="navigation_element_detail">Fenêtres</div>
          </a>
        </li>
        <li>
          <a href="themes" rel="external">
            <img class="nav_icon" align="left" src="/src/paintbrush.png" alt="">
            <div class="navigation_element_detail">Thèmes</div>
          </a>
        </li>
        <li>
          <a href="medias" rel="external">
            <img class="nav_icon" align="left" src="/src/camera.png" alt="">
            <div class="navigation_element_detail">Médias</div>
          </a>
        </li>
        <li>
          <a href="parametres" rel="external">
            <img class="nav_icon" align="left" src="/src/gears.png" alt="">
            <div class="navigation_element_detail">Paramètres</div>
          </a>
        </li>
        <li>
          <a href="a_propos" rel="external">
            <img class="nav_icon" align="left" src="/src/help.png" alt="">
            <div class="navigation_element_detail">À propos</div>
          </a>
        </li>
      </ul>
      <div id="deconnexion">
        <button class="btn btn-secondary" type="submit" onclick="location.href = '/g/connexion';" >
          Déconnexion
        </button>
      </div>
    </div>
    <div id="content" class="show_sidebar">
    <div class="crop"> 
      <img src="/src/test.jpg" id="fond_template">
    </div>
      {{!base}}
    </div>
  </BODY>
</HTML>
<script type='text/javascript' src='/src/base_gestion_fin.js'></script>
