% rebase(path)
<div class="entete">
  <h1>Liste des fenêtres</h1>
  <div class="aide">
  	<a href="">Qu'est-ce qu'une fenêtre?</a>
  </div>
  <button type="button" class="btn btn-primary">+ Ajouter une fenêtre</button>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: fenetres">
  <!-- Fenêtre 1 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class="row">
          <div class="col-md-2">
            <a role="button" data-toggle="collapse" aria-expanded="true" data-bind="text: nom(),attr: { href: '#'+id()}">
            </a>
          </div>
          <div class="col-md-3">
            <select class="form-control" data-role="none" data-bind="foreach: $root.themes">
              <option data-bind="value: id(), text:nom()"></option>
            </select>
          </div>
        </div> 
      </h4>
    </div>
     <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-bind="attr: { id: id()}">
      <ul class="list-group" data-bind="foreach: zones">
        <li class="list-group-item">
          <a href="" class="badge">X</a>
          <a href="" class="badge">Modifier</a>
          
          <strong data-bind="text: nom()"></strong> (<span data-bind="text: type()"></span>)
        </li>
        
        
      </ul>
      <div class="list-group-item">
          <a href="" class="badge">+ Ajouter une zone</a>
          Nouvelle zone
      </div>
    </div>
  </div>
</div>