% rebase(path)
<link rel="stylesheet" type="text/css" href="/src/lister_fenetres.css">
<div class="modal fade" id="modalAjouterFenetre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une fenêtre</h4>
      </div>
      <div class="modal-body">
        <label>Nom de la nouvelle fenêtre:</label>
        <input id="nom_fenetre_input" type="text" class="form-control" maxlength="250"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="ajouter_fenetre btn btn-primary" data-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAjouterZone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une zone</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <label>Nom de la nouvelle zone:</label>
            <input id="nom_zone_input" type="text" class="form-control" maxlength="250"/>
          </div>
        </div> 
        <div class="row">
          <div class="col-lg-12">
            <label>Type de zone :</label>
            <select class="form-control" id="choix_type_zone">
              <option value="ZoneTable">Zone Table</option>
              <option value="ZoneImage">Zone Image</option>
              <option value="ZoneVideo">Zone Vidéo</option>
              <option value="ZoneBase">Zone Base</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="ajouter_zone btn btn-primary" data-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Liste des fenêtres</h1>
      <!-- <div class="aide">
      	<a href="">Qu'est-ce qu'une fenêtre?</a>
      </div> -->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group custom" role="tablist" aria-multiselectable="true" data-bind="foreach: { data: fenetres, as: 'fenetre' }">
        <!-- ko if: $data.id() > -1 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <div class="row">
                <div class="col-md-2 col-xs-12">
                  <h2><a role="button" data-toggle="collapse" aria-expanded="true" data-bind="attr: { href: '#'+$data.id()}"><span data-bind="text: $data.nom"></span> <span class="caret"></span></a></h2>
                </div>
                <div class="col-md-4  col-xs-12">
                  <label>Thème : </label>
                  <select class="form-control" data-role="none" data-bind="options: $root.themes, optionsText: 'nom', optionsValue: 'id', value: fenetre.theme.id">
                  </select>
                </div>
                <div class="col-md-2 col-md-offset-4 col-xs-12 badge_button">
                  <!-- ko if: $data.id() != 1 -->
                  <a href="#" class="retirer">X</a>
                  <!-- /ko --> 
                  <!-- ko if: $data.id() == 0 -->
                  <a class="btn disabled" href="#" data-toggle="tooltip" title="Vous devez appliquer les modifications pour modifier cette fenêtre">Modifier</a>
                  <!-- /ko -->
                  <!-- ko if: $data.id() > 0 -->
                  <a class="btn" data-bind="attr: { href: '/g/modifier_fenetre?id='+$data.id()}">Modifier</a>
                  <!-- /ko -->
                </div>
              
              </div>
            </h4>
          </div>
           <div class="panel-collapse collapse" role="tabpanel" data-bind="attr: { id: $data.id()}">
            <ul class="list-group" id="zones" data-bind="foreach: { data: $data.zones, as: 'zone' }">
              <!-- ko if: $data.id() > -1 -->
              <li class="list-group-item badge_button">
                  <a href="#" class="retirer">X</a>
                  <!-- ko if: $data.id() == 0 -->
                  <a class="btn disabled" href="#" data-toggle="tooltip" title="Vous devez appliquer les modifications pour modifier cette zone">Modifier</a>
                  <!-- /ko -->
                  <!-- ko if: $data.id() > 0 -->
                   <a class="modifier" data-bind="attr: { href: '/g/modifier_zone?id='+$data.id()}">Modifier</a>
                  <!-- /ko -->
                <strong data-bind="text: $data.nom()"></strong> (<span data-bind="text: $data.type()"></span>)
              </li>
              <!-- /ko -->
            </ul>
            <div class="list-group-item badge_button">
                <a href="#" class="selecteur_fenetre" data-toggle="modal" data-target="#modalAjouterZone">+ Ajouter une zone</a>
                Nouvelle zone
            </div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAjouterFenetre">+ Ajouter une fenêtre</button>
    </div>

  </div>
</div>
<script type='text/javascript' src='/src/lister_fenetres.js'></script>