% rebase(path)
<div class="entete">
  <h1>Liste des fenêtres</h1>
  <div class="aide">
  	<a href="">Qu'est-ce qu'une fenêtre?</a>
  </div>
  <button type="button" class="addFenetre btn btn-primary">+ Ajouter une fenêtre</button>
</div>

<div class="panel-group" id="fenetres" role="tablist" aria-multiselectable="true" data-bind="foreach: fenetres">
  <p>TEST</p>
  <!-- ko if: id() > -1 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class="row">
          <div class="col-md-2 col-xs-12">
            <h2>
              <a role="button" data-toggle="collapse" aria-expanded="true" data-bind="text: nom,attr: { href: '#'+id()}">
              </a>
            </h2>
          </div>
          <div class="col-md-4  col-xs-12">
            <label>Thème : </label>
            <select class="form-control" data-role="none" data-bind="foreach: $root.themes">
              <option data-bind="value: id, text:nom"></option>
            </select>
          </div>
          <div class="boutons col-md-2 col-md-offset-4 col-xs-12">
            <a href="#" class="remove">X</a>
            <a href="#" class="btn">Modifier</a>
          </div>
        
        </div>
      </h4>
    </div>
     <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-bind="attr: { id: id()}">
      <ul class="list-group" id="zones" data-bind="foreach: zones">
        <!-- ko if: id() > 0 -->
        <li class="list-group-item">
          <a href="#" class="remove">X</a>
          <a href="#" class="modifier">Modifier</a>
          
          <strong data-bind="text: nom()"></strong> (<span data-bind="text: type()"></span>)
        </li>
        
        <!-- /ko -->
      </ul>
      <div class="list-group-item">
          <a href="">+ Ajouter une zone</a>
          Nouvelle zone
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>