% rebase(path)
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une période</h4>
      </div>
      <div class="modal-body">
        <div>
            <label>Heure de début : </label>
            <input type="time" class="form-control" placeholder="HH:MM" required="">
          </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="ajouter_periode btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="entete">
  <h1>Liste des périodes</h1>
    <!-- <div class="aide">
    <a href="">Qu'est-ce qu'une période?</a>
  </div> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">+ Ajouter une période</button>
</div>
<div class="panel-group" id="fenetres" role="tablist" aria-multiselectable="true" data-bind="foreach: { data: periodes, as: 'periode' }">
  <!-- ko if: $data.id() > -1 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <div class="row">
          <div class="col-md-2 col-xs-12">
            <h2>
              <a role="button" data-toggle="collapse" aria-expanded="true" data-bind="attr: { href: '#'+$data.id()}">
              Période #<span data-bind="text: $data.id"></span>
              </a>
            </h2>
          </div>
           <div class="col-md-2  col-xs-4">
            <label>Heure de début : </label>
            <input type="time" class="form-control" placeholder="HH:MM" required="" data-bind="value: heure_debut">
          </div> 
          <div class="boutons col-md-2 col-md-offset-4 col-xs-12">
          <!-- ko if: $data.id() > 1 -->
            <a href="#" class="retirer">X</a>
          <!-- /ko --> 
          </div>
        
        </div>
      </h4>
    </div>
     <div class="panel-collapse collapse" role="tabpanel" data-bind="attr: { id: $data.id()}">
      <ul class="list-group" id="zones">
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label>Fenêtre #1:</label>
                        <select class="form-control" data-role="none" data-bind="options: $root.fenetres, optionsText: 'nom', optionsValue: 'id', value: periode.fenetre_1.id"></select>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label>Fenêtre #2:</label>
                        <select class="form-control" data-role="none" data-bind="options: $root.fenetres, optionsText: 'nom', optionsValue: 'id', value: periode.fenetre_2.id"></select>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label>Fenêtre #3:</label>
                        <select class="form-control" data-role="none" data-bind="options: $root.fenetres, optionsText: 'nom', optionsValue: 'id', value: periode.fenetre_3.id"></select>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <label>Fenêtre #4:</label>
                        <select class="form-control" data-role="none" data-bind="options: $root.fenetres, optionsText: 'nom', optionsValue: 'id', value: periode.fenetre_4.id"></select>
                    </div>
                </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /ko -->
</div>

<script type="text/javascript" charset="utf-8" defer="defer">
      $("body").on("click", ".retirer", function() {
          var context = ko.contextFor(this),
              id = context.$data.id();
            if (id != 0) {
              context.$data.id(-id);
            } else {
              context.$parent.zones.remove(context.$data);
            }
      });

      $("body").on("click", ".ajouter_periode", function() {
        var context = ko.contextFor(this),
        Fenetre = function(id){
          this.id = ko.observable(id);
        };

        Periode = function(heure_debut){
            alert(heure_debut);
          this.id = ko.observable(0);
          this.heure_debut = ko.observable(heure_debut);
          this.fenetre_1 = ko.observable(new Fenetre(1));
          this.fenetre_2 = ko.observable(new Fenetre(1));
          this.fenetre_3 = ko.observable(new Fenetre(1));
          this.fenetre_4 = ko.observable(new Fenetre(1));
        };

        context.$root.periodes.push(new Periode());
      });

      $("body").on("click", ".ajouter_zone", function() {
        var context = ko.contextFor(this),
            nom_zone = prompt("Nom de la nouvelle zone : ", ""),
            type_zone = prompt("Type de la zone : ", "ZoneBase");
        if (nom_zone != null) {
          var Zone = function(nom_zone, type_zone){
            this.id = ko.observable(0);
            this.nom = ko.observable(nom_zone);
            this.type = ko.observable(type_zone);
          };

          context.$data.zones.push(new Zone(nom_zone, type_zone));
        }
      });
</script>