% rebase(path)
<link rel="stylesheet" type="text/css" href="/src/medias.css">
<div class="entete">
  <h1>Médias</h1>
  <div class="aide">
    <a href="">Qu'est-ce qu'un média?</a>
  </div>
  <button type="button" class="btn btn-primary">+ Ajouter un média</button>
</div>
<div class="container">
  <div class="scroll_y_container">
    <div class="row" data-bind="foreach: medias">

      <div class="col-lg-3 col-md-4 col-xs-12 thumb">
        <!-- ko if: type() === "Image" -->
        <div class="thumbnail">
          <button class="b_delete">X</button>
          <a data-bind="attr: { 'href': '../src/'+ chemin_fichier() }">
              <img class="img-responsive" data-bind="attr: { 'src': '../src/'+ chemin_fichier() }">
          </a>
        </div>
        <!-- /ko -->
        <!-- ko if: type() === "Video" -->
        <div class="thumbnail">
          <button class="b_delete">X</button>
          <a data-bind="attr: { 'href': '../src/'+ chemin_fichier() }">
              <video preload="none" poster="/src/coffee.png" width="100%" height="100%">
                        <source data-bind="attr: { 'src': '../src/'+ chemin_fichier() }" type="video/mp4" />
                        Your browser does not support the video tag.
              </video>
          </a>
        </div>
        <!-- /ko -->
      </div>
  </div>
  <hr>
</div>