% rebase(path)
<link rel="stylesheet" type="text/css" href="/src/medias.css">
<div class="container">
  <h1>Médias</h1>
<!--   <div class="aide">
    <a href="">Qu'est-ce qu'un média?</a>
  </div> -->
  
  <div class="row">
    <button type="button" class="btn btn-primary">+ Ajouter une image</button>
    <div class="panel-group custom" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h2>
                  <a role="button" data-toggle="collapse" aria-expanded="true" href="#images_panel">
                  Images
                  </a>
                </h2>
              </div>
            </div>
          </h4>
        </div>
         <div class="panel-collapse collapse" role="tabpanel" id="images_panel">
          <ul class="list-group" id="zones" data-bind="foreach: { data: images, as: 'image' }">
            <li class="list-group-item">
              <a href="#" class="retirer">X</a>
              <a class="btn" data-bind="attr: { href: '/src/'+$data.chemin_fichier()}">Visualiser</a>
              <img data-bind="attr: { src: '/src/'+$data.chemin_fichier()}" width="200px">
              <strong data-bind="text: $data.nom()"></strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary">+ Ajouter une video</button>
    <div class="panel-group custom" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h2>
                  <a role="button" data-toggle="collapse" aria-expanded="true" href="#videos_panel">
                  Videos
                  </a>
                </h2>
              </div>
            </div>
          </h4>
        </div>
         <div class="panel-collapse collapse" role="tabpanel" id="videos_panel">
          <ul class="list-group" id="zones" data-bind="foreach: { data: videos, as: 'video' }">
            <li class="list-group-item">
                    <a href="#" class="retirer">X</a>
                    <a class="btn" data-bind="attr: { href: '/src/'+$data.chemin_fichier()}">Visualiser</a>
<!--                     <video controls preload="none" width="200px" >
                        <source data-bind="attr: { src: '/src/'+$data.chemin_fichier()}" type='video/mp4' />
                    </video> -->
              <strong data-bind="text: $data.nom()"></strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data" data-ajax="false" >
      Category:      <input type="text" name="category" />
      Select a file: <input type="file" name="upload" />
      <input type="submit" value="Start upload" />
    </form>
  </div>  
</div>

<script type='text/javascript' src='/src/medias.js'></script>