% rebase(path)
<link rel="stylesheet" type="text/css" href="/src/medias.css">
<div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="add_image" id="add_image" action="javascript:;" enctype="multipart/form-data" data-ajax="false" >
        <div class="modal-header">
          <button name="fermer_modal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="label_image_titre">Ajouter une image</h4>
        </div>
        <div class="modal-body">
          <div>
            <div class="form-group">
              <label for="fichier_image_input">Image à téléverser: <br></label>
              <input name="fichier_image_input" id="fichier_image_input" type="file" name="fichier" accept="image/*"/>
            </div>
          </div> 
        </div>
        <div class="modal-footer">
          <button name="annuler" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button name="ajouter" type="submit" class="ajouter_image btn btn-primary" value="Start upload">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="add_video" id="add_video" action="javascript:;" enctype="multipart/form-data" data-ajax="false" >
        <div class="modal-header">
          <button name="fermer_modal_video" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="label_video_titre">Ajouter une vidéo</h4>
        </div>
        <div class="modal-body">
          <div>
            <div class="form-group">
              <label for="fichier_video_input">Vidéo à téléverser: </label>
              <input name="fichier_video_input" id="fichier_video_input" type="file" name="fichier" accept="video/*"/>
            </div>
          </div> 
        </div>
        <div class="modal-footer">
          <button name="annuler" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button name="ajouter" type="submit" class="ajouter_image btn btn-primary" value="Start upload">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="crop">
    <h1 id="titre_page">Médias</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel-group custom" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <div class="row">
                <div class="col-md-12 col-xs-12">
                  <h2>
                    <a name="afficher_images" role="button" data-toggle="collapse" aria-expanded="true" href="#images_panel">
                    Images <span class="caret"></span>
                    </a>
                  </h2>
                </div>
              </div>
            </h4>
          </div>
             <div class="panel-collapse collapse" role="tabpanel" id="images_panel">
              <ul class="badge_button list-group" id="zones" data-bind="foreach: { data: images, as: 'image' }">
                <!-- ko if: $data.id() > 2 -->
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="text-center">
                        <img class="img-thumbnail" data-bind="attr: { src: '/src/'+$data.chemin_fichier()}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="vertical_align">
                        <strong>Nom de l'image : </strong><span data-bind="text: $data.nom()"></span>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <a name="retirer_image" class="retirer">X</a>
                      <a name="visualiser_image" class="btn" data-bind="attr: { href: '/src/'+$data.chemin_fichier()}">Visualiser</a>
                    </div>
                  </div>
                </li>
                <!-- /ko -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button name="ajouter_image" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_image"><img src="/src/plus.png" class="btn_icon avant"/> Ajouter une image</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel-group custom" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <div class="row">
                  <div class="col-md-12 col-xs-12">
                    <h2>
                      <a name="afficher_videos" role="button" data-toggle="collapse" aria-expanded="true" href="#videos_panel">
                      Videos <span class="caret"></span>
                      </a>
                    </h2>
                  </div>
                </div>
              </h4>
            </div>
             <div class="panel-collapse collapse" role="tabpanel" id="videos_panel">
              <ul class="badge_button list-group" id="zones" data-bind="foreach: { data: videos, as: 'video' }">
                <!-- ko if: $data.id() > 2 -->
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-lg-4">
                        <video class="img-thumbnail" width="100%" controls>
                          <source data-bind="attr: { src: '/src/'+$data.chemin_fichier()}" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                      <div class="col-lg-4">
                        <div class="vertical_align">
                          <strong>Nom du vidéo : </strong><span data-bind="text: $data.nom()"></span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                       <a name="retirer_video" class="retirer">X</a>
                        <a name="visualiser_video" class="btn" data-bind="attr: { href: '/src/'+$data.chemin_fichier()}">Visualiser</a>
                      </div>
                    </div>
                  </li>
                <!-- /ko -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button name="ajouter_video" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_video"><img src="/src/plus.png" class="btn_icon avant"/> Ajouter une video</button>
      </div>
    </div>
</div>

<script type='text/javascript' src='/src/medias.js'></script>