% rebase(path)
{{!data}}
<div class="container">
    <div class="row">
        <div class="entete">
          <h1>Modifier la zone « <span data-bind="text: zone.nom"></span> »</h1>
        </div>
    </div>
    <div class="row">
        <form class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="nom_de_zone_input">Nom : </label>
                        <input id="nom_de_zone_input" type="text" class="form-control" placeholder="Nom de la zone..." data-bind="textInput: zone.nom">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <label for="image_select">Image de la zone : </label>
                        <select id="image_select" class="form-control" data-role="none" data-bind="options: $root.images, optionsText: 'nom', optionsValue: 'id', value: $root.media_focus">
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <img data-bind="attr: { src: '/src/'+ zone.image.chemin_fichier()}" width="100%">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-primary" data-bind="attr: { href: '/g/modifier_fenetre?id='+$root.fenetre_id()}">Modifier la fenêtre <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    viewModel.media_focus = ko.observable(viewModel.zone.image.id());
    viewModel.media_focus.subscribe(function (data) {
        for (var index in viewModel.images()) {
            if (viewModel.images()[index].id() === viewModel.media_focus()){
                viewModel.zone.image.id(viewModel.images()[index].id());
                viewModel.zone.image.nom(viewModel.images()[index].nom());
                viewModel.zone.image.chemin_fichier(viewModel.images()[index].chemin_fichier());
            }
        }
    });
        
</script>
