
<!DOCTYPE html>

<!-- HTML BASE DOCUMENT -->

<HTML lang="fr">
    <HEAD>
        <meta charset="utf-8">
        <title>{{!titre}}</title>
        <meta name="decription" content="Ceci est le 'template' web pour un menu de restaurant.">
        <meta name="auteur" content="Daniel-Junior Dubé et Sarah Laflamme">
        <link rel="shortcut icon" href="/src/tab.ico">
        <link rel="stylesheet" href="/src/affichage.css">
        <link rel="stylesheet" href="/src/modifier_fenetre.css">
        <script type='text/javascript' src='/src/interact-1.2.5.min.js'></script>
        <script type='text/javascript' src='/src/interactApp.js'></script>
        <script type='text/javascript' src='/src/jquery-2.1.4.min.js'></script>
        <script type='text/javascript' src='/src/knockout-3.3.0.js'></script>
        <script type='text/javascript' src='/src/knockout.mapping-latest.js'></script>
        <link rel="stylesheet" type="text/css" href="/src/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/src/bootstrap-colorpicker.min.css">
        <script src="/src/bootstrap-colorpicker.min.js" type="text/javascript"></script>
        <script>
            var viewModel = ko.mapping.fromJS({{!data}});
        </script>
        <script src="/src/modifier_fenetre.js" type="text/javascript"></script>
    </HEAD>
        <BODY data-bind="style: { backgroundColor: $root.fenetre.couleur_fond(), 
                                backgroundImage: 'url(\'/src/' + $root.fenetre.image_fond.chemin_fichier() + '\')'  
                            }">
            <div class="interact-container" data-bind="foreach: { data: fenetre.zones, as: 'zone' }">
                <!-- ko if: zone.type() === "ZoneBase" -->
                <div class="zone base" data-bind="css: {zone_focus: $root.is_selected($data.id())}, style: { 
                    'left' : $data.position_x() + '%', 
                    'top' : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur() + '%'
                }">
                    <!-- ko if: zone.type_style() === "titre" -->
                    <div data-bind="text: contenu, style: {
                        fontFamily : $root.fenetre.theme.titre.police(),
                        fontSize : $root.fenetre.theme.titre.taille() + 'px',
                        color : $root.fenetre.theme.titre.couleur(),
                        background : $root.fenetre.theme.titre.couleur_fond(),
                        opacity : $root.fenetre.theme.titre.opacite_fond(),
                        bold : $root.fenetre.theme.titre.gras(),
                        fontStyle : $root.fenetre.theme.titre.gras(),
                        textDecoration : $root.fenetre.theme.titre.soulignement(),
                        borderColor :  $root.fenetre.theme.titre.bordure.couleur(),
                        borderStyle : $root.fenetre.theme.titre.bordure.style(),
                        borderWidth : $root.fenetre.theme.titre.bordure.taille()
                    }"></div>
                    <!-- /ko -->
                    <!-- ko if: zone.type_style() === "sous_titre" -->
                    <div data-bind="text: contenu, style: {
                        fontFamily : $root.fenetre.theme.sous_titre.police(),
                        fontSize : $root.fenetre.theme.sous_titre.taille() + 'px',
                        color : $root.fenetre.theme.sous_titre.couleur(),
                        background : $root.fenetre.theme.sous_titre.couleur_fond(),
                        opacity : $root.fenetre.theme.sous_titre.opacite_fond(),
                        bold : $root.fenetre.theme.sous_titre.gras(),
                        fontStyle : $root.fenetre.theme.sous_titre.gras(),
                        textDecoration : $root.fenetre.theme.sous_titre.soulignement(),
                        borderColor :  $root.fenetre.theme.sous_titre.bordure.couleur(),
                        borderStyle : $root.fenetre.theme.sous_titre.bordure.style(),
                        borderWidth : $root.fenetre.theme.sous_titre.bordure.taille()
                    }"></div>
                    <!-- /ko -->
                    <!-- ko if: zone.type_style() === "texte" -->
                    <div data-bind="text: contenu, style: {
                        fontFamily : $root.fenetre.theme.texte.police(),
                        fontSize : $root.fenetre.theme.texte.taille() + 'px',
                        color : $root.fenetre.theme.texte.couleur(),
                        background : $root.fenetre.theme.texte.couleur_fond(),
                        opacity : $root.fenetre.theme.texte.opacite_fond(),
                        bold : $root.fenetre.theme.texte.gras(),
                        fontStyle : $root.fenetre.theme.texte.gras(),
                        textDecoration : $root.fenetre.theme.texte.soulignement(),
                        borderColor :  $root.fenetre.theme.texte.bordure.couleur(),
                        borderStyle : $root.fenetre.theme.texte.bordure.style(),
                        borderWidth : $root.fenetre.theme.texte.bordure.taille()
                    }"></div>
                    <!-- /ko -->
                    <span class="delete_zone">X</span>
                </div>
                <!-- /ko -->
                <!-- ko if: zone.type() === "ZoneImage" -->
                <div class="zone media" data-bind="css: {zone_focus: $root.is_selected(zone.id())}, style: { 
                    left : $data.position_x() + '%', 
                    top : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur() + '%', 
                    background : 'rgb(0,0,0)' 
                }">
                    <img data-bind="attr: { 'src': '../src/'+$data.image.chemin_fichier() }">
                    <span class="delete_zone">X</span>
                </div>
                <!-- /ko -->
                <!-- ko if: zone.type() === "ZoneVideo" -->
                <div class="zone media" data-bind="css: {zone_focus: $root.is_selected(zone.id())}, style: { 
                    left : $data.position_x() + '%', 
                    top : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur()  + '%'
                }">
                    <video width="100%" height="100%" muted autoplay loop>
                        <source data-bind="attr: { 
                            'src': '../src/'+$data.video.chemin_fichier() }" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <span class="delete_zone">X</span>
                </div>
                <!-- /ko -->
                <!-- ko if: zone.type() === "ZoneTable" -->
                <div class="zone" data-bind="css: {zone_focus: $root.is_selected(zone.id())}, style: { 
                    left : $data.position_x() + '%', 
                    top : $data.position_y() + '%', 
                    'z-index' : $data.position_z(), 
                    width : $data.largeur() + '%', 
                    height : $data.hauteur() + '%' 
                }">
                    <table data-bind="attr : {
                        fontFamily : $root.fenetre.theme.tableau.police(),
                        fontSize : $root.fenetre.theme.tableau.taille() + 'px',
                        color : $root.fenetre.theme.tableau.couleur(),
                        background : $root.fenetre.theme.tableau.couleur_fond(),
                        opacity : $root.fenetre.theme.tableau.opacite_fond(),
                        bold : $root.fenetre.theme.tableau.gras(),
                        fontStyle : $root.fenetre.theme.tableau.gras(),
                        textDecoration : $root.fenetre.theme.tableau.soulignement(),
                        borderColor :  $root.fenetre.theme.tableau.bordure.couleur(),
                        borderStyle : $root.fenetre.theme.tableau.bordure.style(),
                        borderWidth : $root.fenetre.theme.tableau.bordure.taille() + 'px'
                        }">
                        <tbody data-bind="foreach: { data: $data.lignes, as: 'ligne' }">
                            <tr data-bind="foreach: { data: $data.cellules, as: 'cellule' }, attr : {
                                fontFamily : $root.fenetre.theme.tableau_ligne.police(),
                                fontSize : $root.fenetre.theme.tableau_ligne.taille() + 'px',
                                color : $root.fenetre.theme.tableau_ligne.couleur(),
                                background : $root.fenetre.theme.tableau_ligne.couleur_fond(),
                                opacity : $root.fenetre.theme.tableau_ligne.opacite_fond(),
                                bold : $root.fenetre.theme.tableau_ligne.gras(),
                                fontStyle : $root.fenetre.theme.tableau_ligne.gras(),
                                textDecoration : $root.fenetre.theme.tableau_ligne.soulignement(),
                                borderColor :  $root.fenetre.theme.tableau_ligne.bordure.couleur(),
                                borderStyle : $root.fenetre.theme.tableau_ligne.bordure.style(),
                                borderWidth : $root.fenetre.theme.tableau_ligne.bordure.taille() + 'px'
                            }">
                                <!-- Définir le style selon les attributs json -->
                                <!-- ko if: cellule.type_style() === "tableau_titre" -->
                                <th data-bind="text: $data.contenu, style: { 
                                    fontFamily : $root.fenetre.theme.tableau_titre.police(),
                                    fontSize : $root.fenetre.theme.tableau_titre.taille() + 'px',
                                    color : $root.fenetre.theme.tableau_titre.couleur(),
                                    background : $root.fenetre.theme.tableau_titre.couleur_fond(),
                                    opacity : $root.fenetre.theme.tableau_titre.opacite_fond(),
                                    bold : $root.fenetre.theme.tableau_titre.gras(),
                                    fontStyle : $root.fenetre.theme.tableau_titre.gras(),
                                    textDecoration : $root.fenetre.theme.tableau_titre.soulignement(),
                                    borderColor :  $root.fenetre.theme.tableau_titre.bordure.couleur(),
                                    borderStyle : $root.fenetre.theme.tableau_titre.bordure.style(),
                                    borderWidth : $root.fenetre.theme.tableau_titre.bordure.taille() + 'px'
                                }"></th> 
                                <!-- /ko -->
                                <!-- ko if: cellule.type_style() === "tableau_texte" -->
                                <td data-bind="text: $data.contenu, style: { 
                                    fontFamily : $root.fenetre.theme.tableau_texte.police(),
                                    fontSize : $root.fenetre.theme.tableau_texte.taille() + 'px',
                                    color : $root.fenetre.theme.tableau_texte.couleur(),
                                    background : $root.fenetre.theme.tableau_texte.couleur_fond(),
                                    opacity : $root.fenetre.theme.tableau_texte.opacite_fond(),
                                    bold : $root.fenetre.theme.tableau_texte.gras(),
                                    fontStyle : $root.fenetre.theme.tableau_texte.gras(),
                                    textDecoration : $root.fenetre.theme.tableau_texte.soulignement(),
                                    borderColor :  $root.fenetre.theme.tableau_texte.bordure.couleur(),
                                    borderStyle : $root.fenetre.theme.tableau_texte.bordure.style(),
                                    borderWidth : $root.fenetre.theme.tableau_texte.bordure.taille() + 'px'
                                }"></td> 
                                <!-- /ko -->
  
                            </tr>
                        </tbody>
                    </table>
                    <span class="delete_zone">X</span>
                </div>
                <!-- /ko -->
            </div>
            <span class="toggle_sidebar option_left">»</span>
            <div id="sidebar">
                <span class="toggle_sidebar option_right">«</span>
                <div class="sidebar_row">
                    <h1 data-bind="text: fenetre.nom"></h1>
                </div>
                <div class="sidebar_row form-inline">
                    <label class="sidebar_label">Nom : </label>
                     <input type="text" class="form-control input-sm" data-bind="textInput: $root.fenetre.nom"></input>
                </div>
                <div class="sidebar_row form-inline">
                    <label class="sidebar_label">Thème : </label>
                    <select data-role="none" class="form-control input-sm" data-bind="options: $root.themes, optionsText: 'nom', optionsValue: 'id', value: fenetre.theme.id">
                    </select>
                </div>
                <div class="sidebar_row form-inline">
                    <label class="sidebar_label">Image de fond : </label>
                    <select data-role="none" class="form-control input-sm" data-bind="options: $root.images, optionsText: 'nom', optionsValue: 'id', value: fenetre.image_fond.id">
                    </select>
                </div>
                <div class="sidebar_row form-inline">
                    <label class="sidebar_label">Couleur de fond : </label>
                    <!-- <input type="text" class="form-control input-sm choix_couleur" data-bind="value: fenetre.couleur_fond, style: {
                        backgroundColor : fenetre.couleur_fond}"/> -->
                    <div class="input-group ">
                        <input type="text" class="form-control" data-bind="value: fenetre.couleur_fond, style: {
                        backgroundColor : fenetre.couleur_fond}"/>
                        <a class="btn choix_couleur"><i>bouton</i></a>
                    </div>
                </div>
                <hr>
                <!-- ko if: $root.index_zone_focus() != -1 -->
                <div class="sidebar_row form-inline text-center">
                    <label class="sidebar_label">Zone sélectionnée : </label>
                    <select data-role="none" class="form-control input-sm" data-bind="options: $root.fenetre.zones, optionsText: 'nom', selectedIndex: $root.index_zone_focus">
                    </select>
                </div>
                <div class="sidebar_row badge_button text-center">
                    <a data-bind="attr: { href: '/g/modifier_zone?id='+$root.fenetre.zones()[$root.index_zone_focus()].id()}">Modifier</a>
                    <a href="#" class="retirer">Supprimer</a> 
                </div>
                <div class="sidebar_row form-inline" id="position">
                    <h2>Position</h2>
                    <div class="sidebar_row form-inline">
                            <label class="sidebar_label">Horizontale : </label>
                            <input type="number" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].position_x"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                            <label class="sidebar_label">Verticale : </label>
                            <input type="number" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].position_y"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                            <label class="sidebar_label">Profondeur : </label>
                            <input type="number" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].position_z"></input>
                    </div>
                </div>
                <div class="sidebar_row" id="dimensions">
                    <h2>Dimensions</h2>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Hauteur : </label>
                        <input type="number" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].hauteur"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Largeur : </label>
                        <input type="number" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].largeur"></input>
                    </div>
                </div>
                <!-- /ko -->
                <div class="sidebar_row">
                    <button class="custom_button_gris" onclick="appliquer_modifications('{{!titre}}')">Appliquer les modifications</button>
                    <div class="badge_button text-center">
                        <a data-bind="attr: { href: '/g/lister_fenetres'}">Retour à la liste des fenêtres</a>
                    </div>
                </div>
            </div>
    </BODY>
</html>
<script type='text/javascript' src='/src/base_gestion_fin.js'></script>