
<!DOCTYPE html>

<!-- HTML BASE DOCUMENT -->

<HTML lang="fr">
    <HEAD>
        <meta charset="utf-8">
        <title>{{!titre}}</title>
        <meta name="decription" content="Ceci est le 'template' web pour un menu de restaurant.">
        <meta name="auteur" content="Daniel-Junior Dubé et Sarah Laflamme">
        <link rel="shortcut icon" href="/src/tab.ico">
        <link rel="stylesheet" href="/src/affichage.css">
        <script type='text/javascript' src='/src/interact-1.2.5.min.js'></script>
        <script type='text/javascript' src='/src/interactApp.js'></script>
        <script type='text/javascript' src='/src/jquery-2.1.4.min.js'></script>
        <script src="/src/bootstrap.js"></script>
        <script type='text/javascript' src='/src/knockout-3.3.0.js'></script>
        <script type='text/javascript' src='/src/knockout.mapping-latest.js'></script>
        <script type='text/javascript' src='/src/knockstrap.min.js'></script>
        <link rel="stylesheet" type="text/css" href="/src/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/src/bootstrap-colorpicker.min.css">
        <script src="/src/bootstrap-colorpicker.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/src/modifier_fenetre.css">

        <script>
            var viewModel = ko.mapping.fromJS({{!data}});
        </script>
        
    </HEAD>
        <BODY data-bind="style: { backgroundColor: $root.fenetre.couleur_fond(), 
                                backgroundImage: 'url(\'/src/' + $root.fenetre.image_fond.chemin_fichier() + '\')'  
                            }">
            <div class="interact-container" data-bind="foreach: { data: fenetre.zones, as: 'zone' }">
                <!-- ko if: zone.id() > -1 -->
                    <!-- ko if: zone.type() === "ZoneBase" -->
                    <div class="zone base" data-bind="css: {zone_focus: $root.is_selected($data.id())}, style: { 
                        'left' : $data.position_x() + '%', 
                        'top' : $data.position_y() + '%', 
                        'z-index' : $data.position_z(), 
                        width : $data.largeur() + '%', 
                        height : $data.hauteur() + '%',
                        background : $root.fenetre.theme.tableau.couleur_fond(),
                            borderColor :  $root.fenetre.theme.tableau.bordure.couleur(),
                            borderStyle : $root.fenetre.theme.tableau.bordure.style(),
                            borderWidth : $root.fenetre.theme.tableau.bordure.taille() + 'px'
                    }">
                        <!-- ko if: zone.type_style() === "titre" -->
                        <div data-bind="text: contenu, style: {
                            fontFamily : $root.fenetre.theme.titre.police(),
                            fontSize : $root.fenetre.theme.titre.taille() + 'px',
                            color : $root.fenetre.theme.titre.couleur(),
                            bold : $root.fenetre.theme.titre.gras(),
                            fontStyle : $root.fenetre.theme.titre.italique(),
                            textDecoration : $root.fenetre.theme.titre.soulignement()
                        }"></div>
                        <!-- /ko -->
                        <!-- ko if: zone.type_style() === "sous_titre" -->
                        <div data-bind="text: contenu, style: {
                            fontFamily : $root.fenetre.theme.sous_titre.police(),
                            fontSize : $root.fenetre.theme.sous_titre.taille() + 'px',
                            color : $root.fenetre.theme.sous_titre.couleur(),
                            bold : $root.fenetre.theme.sous_titre.gras(),
                            fontStyle : $root.fenetre.theme.sous_titre.italique(),
                            textDecoration : $root.fenetre.theme.sous_titre.soulignement()
                        }"></div>
                        <!-- /ko -->
                        <!-- ko if: zone.type_style() === "texte" -->
                        <div data-bind="text: contenu, style: {
                            fontFamily : $root.fenetre.theme.texte.police(),
                            fontSize : $root.fenetre.theme.texte.taille() + 'px',
                            color : $root.fenetre.theme.texte.couleur(),
                            bold : $root.fenetre.theme.texte.gras(),
                            fontStyle : $root.fenetre.theme.texte.italique(),
                            textDecoration : $root.fenetre.theme.texte.soulignement()
                        }"></div>
                        <!-- /ko -->
                        <span class="bouton_retirer_zone">X</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: zone.type() === "ZoneImage" -->
                    <div class="zone media" data-bind="css: {zone_focus: $root.is_selected(zone.id())}, style: { 
                        left : $data.position_x() + '%', 
                        top : $data.position_y() + '%', 
                        'z-index' : $data.position_z(), 
                        width : $data.largeur() + '%', 
                        height : $data.hauteur() + '%'
                    }">
                        <img data-bind="attr: { 'src': '../src/'+$data.image.chemin_fichier() }">
                        <span class="bouton_retirer_zone">X</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: zone.type() === "ZoneVideo" -->
                    <div class="zone media" data-bind="css: {zone_focus: $root.is_selected(zone.id())}, style: { 
                        left : $data.position_x() + '%', 
                        top : $data.position_y() + '%', 
                        'z-index' : $data.position_z(), 
                        width : $data.largeur() + '%', 
                        height : $data.hauteur()  + '%'
                    }">
                        <video volume="0" width="100%" height="100%" muted="muted" autoplay loop>
                            <source data-bind="attr: { 
                                'src': '../src/'+$data.video.chemin_fichier() }" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                        <span class="bouton_retirer_zone">X</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: zone.type() === "ZoneTable" -->
                    <div class="zone" data-bind="css: {zone_focus: $root.is_selected(zone.id())}, style: { 
                        left : $data.position_x() + '%', 
                        top : $data.position_y() + '%', 
                        'z-index' : $data.position_z(), 
                        width : $data.largeur() + '%', 
                        height : $data.hauteur() + '%' 
                    }">
                        <table data-bind="style : {
                            background : $root.fenetre.theme.tableau.couleur_fond(),
                            borderColor :  $root.fenetre.theme.tableau.bordure.couleur(),
                            borderStyle : $root.fenetre.theme.tableau.bordure.style(),
                            borderWidth : $root.fenetre.theme.tableau.bordure.taille() + 'px'
                            }">
                            <tbody data-bind="foreach: { data: $data.lignes, as: 'ligne' }">
                                <tr data-bind="foreach: { data: $data.cellules, as: 'cellule' }, style : {
                                    borderColor :  $root.fenetre.theme.tableau_ligne.bordure.couleur(),
                                    borderStyle : $root.fenetre.theme.tableau_ligne.bordure.style(),
                                    borderWidth : $root.fenetre.theme.tableau_ligne.bordure.taille() + 'px'
                                }">
                                    <!-- Définir le style selon les attributs json -->
                                    <!-- ko if: cellule.type_style() === "tableau_titre" -->
                                    <th data-bind="text: $data.contenu, style: { 
                                        fontFamily : $root.fenetre.theme.tableau_titre.police(),
                                        fontSize : $root.fenetre.theme.tableau_titre.taille() + 'px',
                                        color : $root.fenetre.theme.tableau_titre.couleur(),
                                        bold : $root.fenetre.theme.tableau_titre.gras(),
                                        fontStyle : $root.fenetre.theme.tableau_titre.italique(),
                                        textDecoration : $root.fenetre.theme.tableau_titre.soulignement()
                                    }"></th> 
                                    <!-- /ko -->
                                    <!-- ko if: cellule.type_style() === "tableau_sous_titre" -->
                                    <th data-bind="text: $data.contenu, style: { 
                                        fontFamily : $root.fenetre.theme.tableau_sous_titre.police(),
                                        fontSize : $root.fenetre.theme.tableau_sous_titre.taille() + 'px',
                                        color : $root.fenetre.theme.tableau_sous_titre.couleur(),
                                        bold : $root.fenetre.theme.tableau_sous_titre.gras(),
                                        fontStyle : $root.fenetre.theme.tableau_sous_titre.italique(),
                                        textDecoration : $root.fenetre.theme.tableau_sous_titre.soulignement()
                                    }"></th> 
                                    <!-- /ko -->
                                    <!-- ko if: cellule.type_style() === "tableau_texte" -->
                                    <td data-bind="text: $data.contenu, style: { 
                                        fontFamily : $root.fenetre.theme.tableau_texte.police(),
                                        fontSize : $root.fenetre.theme.tableau_texte.taille() + 'px',
                                        color : $root.fenetre.theme.tableau_texte.couleur(),
                                        bold : $root.fenetre.theme.tableau_texte.gras(),
                                        fontStyle : $root.fenetre.theme.tableau_texte.italique(),
                                        textDecoration : $root.fenetre.theme.tableau_texte.soulignement()
                                    }"></td> 
                                    <!-- /ko -->
      
                                </tr>
                            </tbody>
                        </table>
                        <span class="bouton_retirer_zone">X</span>
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
            <span class="toggle_sidebar option_left">»</span>
            <div id="sidebar">
                <span class="toggle_sidebar option_right">«</span>
                <div class="sidebar_row text-center">
                    <div class="changer_zone"><h1 data-bind="text: fenetre.nom, tooltip: { title: fenetre.nom, placement: 'bottom' }"></h1></div>
                </div>
                <div class="sidebar_row form-inline" id="infos_fenetre">
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Nom : </label>
                         <input name="nom_fenetre" type="text" class="form-control input-sm" data-bind="textInput: $root.fenetre.nom" maxlength="250"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Thème : </label>
                        <div class="input-group">
                            <select name="choix_theme" data-role="none" class="form-control input-sm" data-bind="options: $root.themes, optionsText: 'nom', optionsValue: 'id', value: $root.theme_focus">
                            </select>
                            <span class="input-group-addon">
                                <a name="modifier_theme" data-bind="attr: { href: '/g/modifier_theme?id='+$root.fenetre.theme.id()}"><img src="../src/icons/edit.png"></a>
                            </span>    
                        </div>
                    </div>
                </div>
                <div class="sidebar_row form-inline" id="fond">
                    <h2>Fond</h2>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Image : </label>
                        <select name="choix_image_fond" data-role="none" class="form-control input-sm" data-bind="options: $root.images, optionsText: 'nom', optionsValue: 'id', value: $root.image_fond_focus">
                        </select>
                    </div>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Couleur : </label>
                        <div class="input-group">
                            <input name="couleur_fond" type="text" class="form-control input-sm" data-bind="textInput: fenetre.couleur_fond"/>
                            <span class="choix_couleur input-group-addon">
                                <i data-bind="style: { backgroundColor : fenetre.couleur_fond}"></i>
                            </span>
                        </div>
                    </div>
                </div>
                
                <hr>
                <!-- ko if: $root.index_zone_focus() != -1 -->
                <div class="sidebar_row form-inline text-center">
                    <div class="changer_zone badge_button" id="changer_zone-gauche" width="20"><a name="deplacement_index_zone_focus_gauche" onclick="deplacement_index_zone_focus(-1)"><</a></div>
                    <div class="changer_zone center"><h1 data-bind="text: $root.fenetre.zones()[$root.index_zone_focus()].nom(), tooltip: { title: $root.fenetre.zones()[$root.index_zone_focus()].nom(), placement: 'bottom' }"></h1></div>
                    <div class="changer_zone badge_button" id="changer_zone-droite" width="20"><a name="deplacement_index_zone_focus_droite" onclick="deplacement_index_zone_focus(1)">></a></div>
                </div>
                <div class="sidebar_row badge_button text-center">
                    <a name="modifier_zone_focus" data-bind="attr: { href: '/g/modifier_zone?id='+$root.fenetre.zones()[$root.index_zone_focus()].id()}">Modifier</a>
                    <a name="supprimer_zone_focus" href="#" class="retirer_zone">Supprimer</a> 
                </div>
                <div class="sidebar_row form-inline" id="position">
                    <h2>Position</h2>
                    <div class="sidebar_row form-inline">
                            <label class="sidebar_label">Horizontale : </label>
                            <input name="position_x" type="number" min="0" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].position_x"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                            <label class="sidebar_label">Verticale : </label>
                            <input name="position_y" type="number" min="0" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].position_y"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                            <label class="sidebar_label">Profondeur : </label>
                            <input name="position_z" type="number" min="0" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].position_z"></input>
                    </div>
                </div>
                <div class="sidebar_row" id="dimensions">
                    <h2>Dimensions</h2>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Hauteur : </label>
                        <input name="hauteur" type="number" min="5" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].hauteur"></input>
                    </div>
                    <div class="sidebar_row form-inline">
                        <label class="sidebar_label">Largeur : </label>
                        <input name="largeur" type="number" min="5" class="form-control input-sm" data-bind="textInput: $root.fenetre.zones()[$root.index_zone_focus()].largeur"></input>
                    </div>
                </div>
                <!-- /ko -->
                <div class="sidebar_row text-center">
                    <button name="appliquer_modifications" class="btn btn-primary" onclick="appliquer_modifications('{{!titre}}')">Appliquer les modifications</button>
                    <div class="badge_button">
                        <a name="retour_liste_fenetres" data-bind="attr: { href: '/g/fenetres'}">Retour à la liste des fenêtres</a>
                    </div>
                </div>
            </div>
    </BODY>
</html>
<script src="/src/modifier_fenetre.js" type="text/javascript"></script>
<script type='text/javascript' src='/src/base_gestion_fin.js'></script>