% rebase(path)
<link rel="stylesheet" type="text/css" href="/src/modifier_zone_image.css">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h1 id="titre_page">Modifier la zone « 
            <div class="nom" data-bind="text: zone.nom, tooltip: { title: zone.nom, placement: 'bottom' }">
            </div>
            »
         </h1>
          <a class="btn btn-primary" data-bind="attr: { href: '/g/modifier_fenetre?id='+$root.fenetre_id()}">Modifier la fenêtre <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <form class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>Nom : </label>
                        <input id="nom_de_zone_input" type="text" class="form-control" placeholder="Nom de la zone..." data-bind="textInput: zone.nom">
                    </div>
                    <div class="form-group">
                        <label for="image_select">Image de la zone : </label>
                        <select id="image_select" class="form-control" data-role="none" data-bind="options: $root.images, optionsText: 'nom', optionsValue: 'id', value: $root.media_focus">
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <img data-bind="attr: { src: '/src/'+ zone.image.chemin_fichier()}" width="100%">
            <a data-bind="attr: { href: '/src/'+ zone.image.chemin_fichier()}" >Visualiser</a>
        </div>
    </div>
</div>
<script src="/src/modifier_zone_image.js" type="text/javascript"></script>
