% rebase(path)
<div class="container">
    <div class="row">
        <div class="entete">
          <h1>Modifier la zone « <span data-bind="text: zone.nom"></span> »</h1>
        </div>
    </div>
    <div class="row">
        <form class="col-md-12">
            <div class="form-group">
                <label for="contenu_input">Nom : </label>
                <input id="contenu_input" type="text" class="form-control" placeholder="Nom de la zone..." data-bind="textInput: zone.nom">
            </div>
            <div class="form-group">
                <label for="contenu_input">Contenu : </label>
                <textarea class="form-control" rows="3" data-bind="value: zone.contenu"></textarea>
            </div>
            <div class="form-group">
                <label>Style du texte :</label>
                <select class="form-control" id="choix_type_zone" data-bind="value: zone.type_style">
                  <option value="texte">Texte</option>
                  <option value="sous_titre">Sous-titre</option>
                  <option value="titre">Titre</option>
                </select>
            </div>
        </form>

        <!-- Il faudrait envoyer l'id de la fenêtre -->
        <a class="btn btn-primary" data-bind="attr: { href: '/g/modifier_fenetre?id='+$data.id()}">Modifier la fenêtre <span class="glyphicon glyphicon-chevron-right"></span></a>      
    </div>
</div>

