% rebase(path)
<div class="modal fade" id="modal_modifier_informations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une fenêtre</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Nouvelle adresse courriel:</label> 
                <input id="adresse_courriel_input" type="text" class="form-control" maxlength="250" data-bind="value: administrateur.adresse_courriel()"/>
            </div> 
            <div class="form-group">
                <label>Nouveau mot de passe:</label> 
                <div class="toggle_password">
                    <input id="mot_de_passe_input" type="password" class="form-control" maxlength="250" value="" data-bind="value: administrateur.mot_de_passe()"/>
                </div>
            </div> 
<!--             <div class="form-group">
                <label>Confimation du mot de:</label> 
                <div class="toggle_password">
                    <input id="confirmation_mot_de_passe_input" type="password" class="form-control" maxlength="250" data-bind="value: administrateur.mot_de_passe()"/>
                </div>
            </div>  -->
            <div class="form-group">
                <input type="checkbox" onchange="document.getElementById('mot_de_passe_input').type = this.checked ? 'text' : 'password'"> Afficher le mot de passe?</input>
            </div> 
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="modifier_parametres btn btn-primary" data-dismiss="modal">Modifier les informations</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="crop">
        <h1 id="titre_page">Paramètres</h1>
    </div>
    <hr>
    <div class="row">
        <form class="col-md-4 col-xs-12">
            <div class="form-group">
                <label>Adresse courriel : </label>
                <span id="administrateur_adresse_courriel" data-bind="text: administrateur.adresse_courriel()"></span>
            </div>
            <div class="form-group">
                <label>Mots de passe : </label>
                <input type="password" class="form-control" id="administrateur_mot_de_passe" data-bind="value: administrateur.mot_de_passe()" disabled></input>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" onchange="document.getElementById('administrateur_mot_de_passe').type = this.checked ? 'text' : 'password'"> Afficher le mot de passe?
                    </label>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_modifier_informations">Modifier les informations de connexion</button>
        </form>
    </div>
</div>
<script src="/src/parametres.js" type="text/javascript"></script>